{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <!-- Custom styles for this template -->
    <link href="{% static 'starter-template.css' %}" rel="stylesheet">

    <title>Lux Labz</title>
  </head>
  <body>

    {% include "header.html" %}

      <main role="main" class="container">
  
        <div class="starter-template">
          <p class="lead">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FPhoenix&bgcolor=%23ffffff&showTitle=0&src=Y19hNDIzMDliYzMzMzk4NWU4ODdlZjdlNGM0MzgwOThmZmZkMjU0YzA4OGNlNjljZTkyNmM2NmZjZmQwN2QwZDMxQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23F09300" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </p>
        </div>
  
      </main><!-- /.container -->

  </body>
</html>
